header
    img(src="img/banu.png" alt="baner")
input#burger-check.burger-check(type="checkbox")
label.burger(for="burger-check")
nav#navigation1.navigation
    a.menu(href="index.html") Strona główna
    a.menu(href="onas.html") O nas
    a.menu(href="oferta.html") Oferta
    a.menu(href="kontakt.html") Kontakt
