doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="styles.css")
    title Document
  body
    include _header.pug
    section
      article
        .center
          h1 O nas
        .allonas
          .abim
            img(src="img/about1.png" alt="about1")
          .nagtek
            h2 Nagłówek 1
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur
              | tortor feugiat at.
      article
        .allonas
          .nagtek
            h2 Nagłówek 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum
              | est nibh, et consectetur tortor feugiat at.
          .abim
            img(src="img/about2.png" alt="about2")
      article
        .allonas
          .abim
            img(src="img/about3.png" alt="about2")
          .nagtek
            h2 Nagłówek 3
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum
              | est nibh, et consectetur tortor feugiat at.
      footer
        .footerup
          .wtyk
            .foot
            |                     Umów się na bezpłatną wycenę.
            p Potrzebny elektryk ?
            br
            p Zadzwoń:
            |  501 540 292
        .footerdown
          .foot
            | © Copyright hamer.pl 2016. All rights reserved.
            p  ..................
            | Designed by Aztharoth design Coded by Marcin Lasak
