main.about
    h2.about__title O nas
    article.about__box
        .about__box-img-container
            img.about__box-img(src="./img/desktop/about1.png" alt="")
        .about__box-content
            h3.about__box-title Nagłówek 1
            p.about__box-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo consectetur quas optio magnam voluptates vel, nisi ducimus repellat reprehenderit nulla eaque exercitationem corporis, dolorum doloribus fugiat eius. Accusantium, cum.Voluptas recusandae, quo reprehenderit praesentium rerum aspernatur laboriosam placeat sit, officiis minima, ipsam aperiam nesciunt possimus.
    article.about__box.about__box--reversed
        .about__box-content
            h3.about__box-title Nagłówek 2
            p.about__box-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo consectetur quas optio magnam voluptates vel, nisi ducimus repellat reprehenderit nulla eaque exercitationem corporis, dolorum doloribus fugiat eius. Accusantium, cum.Voluptas recusandae, quo reprehenderit praesentium rerum aspernatur laboriosam placeat sit, officiis minima, ipsam aperiam nesciunt possimus.
        .about__box-img-container
            img.about__box-img(src="./img/desktop/about2.png" alt="")
    article.about__box
        .about__box-img-container
            img.about__box-img(src="./img/desktop/about3.png" alt="")
        .about__box-content
            h3.about__box-title Nagłówek 3
            p.about__box-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nemo consectetur quas optio magnam voluptates vel, nisi ducimus repellat reprehenderit nulla eaque exercitationem corporis, dolorum doloribus fugiat eius. Accusantium, cum.Voluptas recusandae, quo reprehenderit praesentium rerum aspernatur laboriosam placeat sit, officiis minima, ipsam aperiam nesciunt possimus.
