main.homepage
    h2.homepage__title Witamy na naszej stronie
    p.homepage__description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae quos obcaecati ab ipsum. Minus, animi?
    h3.homepage__subtitle W naszej ofercie znajdziesz
    p.homepage__subdescription Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ea enim possimus adipisci.
    a.homepage__contact-link(href="/kontakt") Kontakt
    h2.homepage__title Korzystamy z najnowszych rozwiązań
    section.homepage__solutions
        section.homepage__logos
            .homepage__logos-background
            img.homepage__logo1(src="")
            img.homepage__logo2(src="")
            img.homepage__logo3(src="")
        section.homepage__slider
            img.homepage__slider-img(src="./img/desktop/berker.png")
            img.homepage__slider-img(src="./img/desktop/gira.png")
            img.homepage__slider-img(src="./img/desktop/gira1.png")
