main.offer
    h2.offer__title Oferta
    p.offer__description Lorem ipsum dolor sit amet consectetur adipisicing elit.  aut quisquam optio quis doloribus! Consequatur eum distinctio laboriosam aliquam asp

    .offer__boxes
        article.single-offer
            img.single-offer__img(src="./img/desktop/services1.png")
            h3.single-offer__title Lorem ipsum
            p.single-offer__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quis tempora nam rem facilis laboriosam blanditiis soluta, dolor
        article.single-offer    
            img.single-offer__img(src="./img/desktop/services2.png")
            h3.single-offer__title Lorem ipsum
            p.single-offer__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quis tempora nam rem facilis laboriosam blanditiis soluta, dolor
        article.single-offer
            img.single-offer__img(src="./img/desktop/services3.png")
            h3.single-offer__title Lorem ipsum
            p.single-offer__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quis tempora nam rem facilis laboriosam blanditiis soluta, dolor

    .other-offers
        h3.other-offers__title Wykonujemy również
        p.other-offers__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius libero, eaque eos doloremque dignissimos e
