main.about
    h2.about__title O nas
    article.about__box
        .about__box-img-container
            img.about__box-img(src="./img/desktop/about1.png" alt="")
        .about__box-content
            //- h3.about__box-title Nagłówek 1
            p.about__box-description Firma „HAMER” jest nowoczesnym, prężnie rozwijającym się przedsiębiorstwem, świadczącym usługi elektryczne od 2000 roku.
            p.about__box-description Naszym absolutnym priorytetem jest zadowolenie i satysfakcja Klientów. Celem naszej codziennej pracy jest możliwość sprostania oczekiwaniom i wymaganiom każdego Zleceniodawcy, zachowując przy tym najwyższy stopień bezpieczeństwa i fachowości.
    article.about__box.about__box--reversed
        .about__box-img-container.about__box-img-container--mobile
            img.about__box-img(src="./img/desktop/about2.png" alt="")
        .about__box-content
            //- h3.about__box-title Nagłówek 2
            p.about__box-description Nasi pracownicy to wykwalifikowani specjaliści, z wykształceniem w dziedzinie elektryki. Ich zaangażowanie, fachowość i wiedza połączona z wieloletnią praktyką gwarantują najwyższą jakość wykonywanych usług.
            p.about__box-description W swojej pracy wykorzystujemy wszelkie dostępne na rynku materiały i technologie, chętnie korzystając z tych najnowocześniejszych. Za każdym jednak razem dobieramy je tak, by sprostać oczekiwaniom naszych Klientów, zachowując przy tym wszelkie zasady.
        .about__box-img-container
            img.about__box-img(src="./img/desktop/about2.png" alt="")
    article.about__box
        .about__box-img-container
            img.about__box-img(src="./img/desktop/about3.png" alt="")
        .about__box-content
            //- h3.about__box-title Nagłówek 3
            p.about__box-description Zaufało nam wielu Klientów. Wśród nich możemy wymienić instytucje publiczne, duże przedsiębiorstwa i małe firmy, m.in. Elektrownie w Opolu i Jaworznie, markety Castorama i Makro, sklep Agata Meble, salony samochodowe Nissan i Renault, szpitale w Raciborzu i Branicach, Urząd Pracy w Raciborzu oraz wielu Klientów indywidualnych.
            p.about__box-description Po prostu możesz nam zaufać.
