.contact-footer
    img.contact-footer__icon(src="./img/desktop/wtyk.png" alt="")
    h4.contact-footer__info Umów się na bezpłatną wycenę. Potrzebny elektryk?
    h4.contact-footer__info Zadzwoń
        a.contact-footer__tel(href="tel:501540292")  501 540 292
