.failure-alert
    p Coś poszło nie tak. Sprawdź, czy wprowadziłeś poprawnie wszystkie dane i spróbuj ponownie.
    p Jeśli ponowne wysłanie nie zadziała po prostu wyślij email na adres 
        a(href="mailto:pphuhamer@poczta.onet.pl") pphuhamer@poczta.onet.pl
