footer.footer
    span.footer__copyright © Copyright hamer.pl 2018. All rights reserved.
    img.footer__icon(src="./img/desktop/logo.png" alt="")
    span.footer__author Designed by 
        b 
            i Aztharothdesign
