main.homepage
    h2.homepage__title Witamy na naszej stronie
    p.homepage__description Zapraszamy do zapoznania się z 
        a(href="/oferta") ofertą
        span  naszej firmy, oraz do 
        a(href="/kontakt") kontaktu.
    h3.homepage__subtitle W naszej ofercie znajdziesz
    p.homepage__subdescription realizacje instalacji elektrycznych, systemy zarządzania budynkiem BMS, systemy alarmowe, systemy sterowania wnetylacją, ogrzewaniem, klimatyzacją i 
        a(href="/oferta") wiele więcej.
    a.homepage__contact-link(href="/kontakt") Kontakt
    h2.homepage__title Korzystamy z najnowszych rozwiązań
    section.homepage__solutions
        section.homepage__logos
            .homepage__logos-background
            img.homepage__logo1(src="./img/desktop/logo1.png" alt="berker")
            img.homepage__logo2(src="./img/desktop/logo2.png" alt="gira")
            img.homepage__logo3(src="./img/desktop/logo3.png" alt="knx")
        section.homepage__slider
            img.homepage__slider-img1(src="./img/desktop/berker.png" alt="")
            img.homepage__slider-img2(src="./img/desktop/gira.png" alt="")
            img.homepage__slider-img3(src="./img/desktop/gira1.png" alt="")
