nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="/") Strona główna
        li.nav__item
            a.nav__link(href="/o-nas") O nas
        li.nav__item
            a.nav__link(href="/oferta") Oferta
        li.nav__item
            a.nav__link(href="/kontakt") Kontakt
