main.offer
    h2.offer__title Oferta
    p.offer__description Naszym Klientom oferujemy fachową i specjalistyczną pomoc w zakresie:
    ul.offer__list
        li instalacji elektrycznych
        li systemów zarządzania budynkiem 
            br
            span (BMS, z ang. Building Management System),
        li systemów sygnalizacji włamania i napadu (SSWiN),
        li systemów sterowania wentylacją, klimatyzacją, ogrzewaniem,
        li systemu kontroli dostępu (KD),
        li sieci okablowania strukturalnego,
        li systemów zdalnego powiadamiania,
        li systemów telewizji satelitarnej (DVB-S) i naziemnej (DVB-T),
        li instalacji przeciwpożarowych PPOŻ,
        li telewizji przemysłowej (CCTV, z ang. Closed Circuit TeleVision).

    .offer__boxes
        article.single-offer
            img.single-offer__img(src="./img/desktop/services1.png" alt="")
            //- h3.single-offer__title Lorem ipsum
            p.single-offer__description Dodatkowo służymy radą w doborze odpowiednich materiałów i technologii.
        article.single-offer    
            img.single-offer__img(src="./img/desktop/services2.png" alt="")
            //- h3.single-offer__title Lorem ipsum
            p.single-offer__description Realizacje naszej firmy obejmują budynki mieszkalne, a także wnętrza użytkowe przeznaczone pod sklepy, biura, magazyny itp. Realizujemy zlecenia osób prywatnych, a także firm i innych instytucji.
        article.single-offer
            img.single-offer__img(src="./img/desktop/services3.png" alt="")
            //- h3.single-offer__title Lorem ipsum
            p.single-offer__description Podstawowym zadaniem naszej firmy jest kompleksowa obsługa oraz indywidualne podejście do każdego Klienta, poczynając od fazy uzgodnień i projektu, poprzez wykonawstwo, aż do końcowego montażu.

    .other-offers
        h3.other-offers__title Zapraszamy do współpracy.
        //- p.other-offers__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius libero, eaque eos doloremque dignissimos e
