<!DOCTYPE html>
html(lang="pl")
  head
    include includes/_head
  body.tk-museo
    include includes/_header
    include includes/_nav
    include includes/_contact
    include includes/_contact-footer
    include includes/_footer
