<!DOCTYPE html>
html(lang="pl")
  head
    include includes/_head
    title O nas - pphuhamer.pl
    meta(name="description" content="Firma „HAMER” jest nowoczesnym, prężnie rozwijającym się przedsiębiorstwem, świadczącym usługi elektryczne od 2000 roku. Naszym absolutnym priorytetem jest zadowolenie i satysfakcja Klientów. Celem naszej codziennej pracy jest możliwość sprostania oczekiwaniom i wymaganiom każdego Zleceniodawcy, zachowując przy tym najwyższy stopień bezpieczeństwa i fachowości.")
    meta(property="og:title" content="Hamer: usługi elektryczne - o nas")
    meta(property="og:description" content="Firma „HAMER” jest nowoczesnym, prężnie rozwijającym się przedsiębiorstwem, świadczącym usługi elektryczne od 2000 roku. Naszym absolutnym priorytetem jest zadowolenie i satysfakcja Klientów. Celem naszej codziennej pracy jest możliwość sprostania oczekiwaniom i wymaganiom każdego Zleceniodawcy, zachowując przy tym najwyższy stopień bezpieczeństwa i fachowości.")
    meta(property="og:image" content="https://pphuhamer.pl/img/desktop/baner.png")
    meta(property="og:url" content="https://pphuhamer.pl/o-nas")
    meta(name="twitter:card" content="summary_large_image")
  body.tk-museo
    include includes/_header
    include includes/_nav
    include includes/_about
    include includes/_contact-footer
    include includes/_footer
