<!DOCTYPE html>
html(lang="pl")
  head
    include includes/_head
    title Kontakt - pphuhamer.pl
    meta(name="description" content="Jeżeli mają Państwo pytania dotyczące naszej firmy lub wykonywanych przez nas usług zapraszamy do kontaktu z nami. Przyjedziemy, wycenimy i pomożemy wybrać najlepsze rozwiązanie.")    
    meta(property="og:title" content="Hamer: usługi elektryczne - kontakt")
    meta(property="og:description" content="Jeżeli mają Państwo pytania dotyczące naszej firmy lub wykonywanych przez nas usług zapraszamy do kontaktu z nami. Przyjedziemy, wycenimy i pomożemy wybrać najlepsze rozwiązanie.")
    meta(property="og:image" content="https://pphuhamer.pl/img/desktop/baner.png")
    meta(property="og:url" content="https://pphuhamer.pl/kontakt")
    meta(name="twitter:card" content="summary_large_image")
  body.tk-museo
    include includes/_header
    include includes/_nav
    include includes/_contact
    include includes/_contact-footer
    include includes/_footer
