<!DOCTYPE html>
html(lang="pl")
  head
    include includes/_head
    title Strona główna - pphuhamer.pl
    meta(name="description" content="W naszej ofercie znajdziesz realizacje instalacji elektrycznych, systemy zarządzania budynkiem BMS, systemy alarmowe, systemy sterowania wnetylacją, ogrzewaniem, klimatyzacją i wiele więcej.")
    meta(property="og:title" content="Hamer: usługi elektryczne")
    meta(property="og:description" content="W naszej ofercie znajdziesz realizacje instalacji elektrycznych, systemy zarządzania budynkiem BMS, systemy alarmowe, systemy sterowania wnetylacją, ogrzewaniem, klimatyzacją i wiele więcej.")
    meta(property="og:image" content="https://pphuhamer.pl/img/desktop/baner.png")
    meta(property="og:url" content="https://pphuhamer.pl/")
    meta(name="twitter:card" content="summary_large_image")
  body.tk-museo
    include includes/_header
    include includes/_nav
    include includes/_homepage
    include includes/_contact-footer
    include includes/_footer
