doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="styles.css")
    title Document
  body
    include _header.pug
    section
      article
        .center
          h1 Witamy na naszej stronie
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.
      article
        .center
          h2 W naszej ofercie znajdziesz
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in porta lorem. Morbi condimentum est nibh, et consectetur tortor feugiat at.
      .contact
        a(href="kontakt.html")
          button Kontakt
      article
        .center
          h1 Korzystamy z najnowszych rozwiązań
    #imagehome
      img(src="img/homeall.png" alt="home")
      //
        <img src="gira.png" alt="gira">
        <img src="gira1.png" alt="gira1">
        <img src="gira2.png" alt="gira2">
    footer
      .footerup
        .wtyk
          .foot
          |                      Umów się na bezpłatną wycenę. 
          p Potrzebny elektryk ?
          br
          p Zadzwoń:
          |  501 540 292
      .footerdown
        .foot
          | © Copyright hamer.pl 2016. All rights reserved. 
          p  ..................
          | Designed by Aztharoth design Coded by Marcin Lasak
