<!DOCTYPE html>
html(lang="pl")
  head
    include includes/_head
    title Oferta - pphuhamer.pl
    meta(name="description" content="Naszym Klientom oferujemy fachową i specjalistyczną pomoc w zakresie: instalacji elektrycznych, systemów zarządzania budynkiem, systemów sygnalizacji włamania i napadu, systemów sterowania wentylacją, klimatyzacją, ogrzewaniem, systemu kontroli dostępu, sieci okablowania strukturalnego, systemów zdalnego powiadamiania, systemów telewizji satelitarnej i naziemnej, instalacji przeciwpożarowych PPOŻ, telewizji przemysłowej.")    
    meta(property="og:title" content="Hamer: usługi elektryczne - oferta")
    meta(property="og:description" content="Naszym Klientom oferujemy fachową i specjalistyczną pomoc w zakresie: instalacji elektrycznych, systemów zarządzania budynkiem, systemów sygnalizacji włamania i napadu, systemów sterowania wentylacją, klimatyzacją, ogrzewaniem, systemu kontroli dostępu, sieci okablowania strukturalnego, systemów zdalnego powiadamiania, systemów telewizji satelitarnej i naziemnej, instalacji przeciwpożarowych PPOŻ, telewizji przemysłowej.")
    meta(property="og:image" content="https://pphuhamer.pl/img/desktop/baner.png")
    meta(property="og:url" content="https://pphuhamer.pl/oferta")
    meta(name="twitter:card" content="summary_large_image")
  body.tk-museo
    include includes/_header
    include includes/_nav
    include includes/_offer
    include includes/_contact-footer
    include includes/_footer
