.about {
    &__title {
        color: $blue-500;
        font-weight: 700;
        font-size: 2em;
        margin: 0;
        padding: 1em 0;
        text-align: center;
    }

    &__box {
        max-width: 1300px;
        width: 100%;
        padding: 10px 20px 50px;
        margin: 0 auto;

        &:after {
            clear: both;
            display: table;
            content: '';
        }

        &--reversed {
            .about__box-img-container {
                float: right;
                &:after {
                    left: -50px;
                    right: auto;
                    transform: skew(15deg);
                }
            }
        }
    }

    &__box-img-container {
        overflow: hidden;
        position: relative;
        width: 50%;
        float: left;

        &:after {
            content: '';
            display: block;
            width: 100px;
            top: 0;
            transform: skew(-15deg);
            position: absolute;
            bottom:0;
            right: -40px;
            background-color: $white-700;
        }
    }

    &__box-content {
        width: 50%;
        float: left;
    }

    &__box-title {
        margin-top: 4em;
        padding: 5px 30px;
        color: $blue-700;
        font-weight: 700;
        font-size: 1.4em;
    }

    &__box-description {
        margin: 0;
        padding: 5px 30px 10px;
        color: $gray-700;
    }
}
