.contact-footer {
    width: 100%;
    background-color: $blue-700;
    color: $white-100;
    font-weight: 700;
    padding: 15px 0;

    &__icon {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto 5px;
    }
    
    &__info {
        margin: 0;
        padding: 3px 0;
        font-size: 1.3em;
        text-align: center;
    }

    &__tel {
        text-decoration: none;
        color: $white-100;
    }
}
