.homepage {
    &__title {
        color: $blue-500;
        font-weight: 700;
        font-size: 2em;
        margin: 0;
        padding: 1em 0 .5em;
        text-align: center;
    }

    &__subtitle {
        color: $blue-700;
        font-weight: 700;
        font-size: 1.5em;
        margin: 0;
        padding: 3em 0 .2em;
        text-align: center;
    }

    &__description {
        color: $gray-700;
        width: 100%;
        max-width: 40em;
        margin: 0 auto;
        text-align: center;
    }

    &__subdescription {
        color: $gray-700;
        width: 100%;
        max-width: 40em;
        margin: 0 auto;
        text-align: center;
    }

    &__contact-link {
        background-color: $blue-500;
        margin: 40px auto;
        display: block;
        border: 0;
        text-decoration: none;
        padding: 4px 12px;
        font-size: 21px;
        width: 120px;
        text-align: center;
        color: $white-100;
    }

    &__solutions {
        width: 100%;
        max-width: 100%;
        position: relative;
    }

    &__logos {
        position: absolute;
        left: 60%;
        top: 0;
        bottom: 0;
    }

    &__logos-background {
        width: 200px;
        transform: skew(-15deg);
        background-color: $white-100;
        height: 100%;
    }

    &__slider {
        text-align: center;

        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    &__slider-img {
        width: 33.33%;
        display: block;
        float: left;
    }
}
